<body class="FondoHome">
    @{
    ViewData["Title"] = "Home Page";
}
<head>
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<div class="text-center">
    <h1 class="display-4 animate__animated animate__fadeIn TituloHome">Bienvenido</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

</body>