<body class="FondoCategorias">
    <!-- Modal -->
  <div class="modal fade" id="ModalSubCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content MODAL">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Sub Categoría</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="SubCategoriaID" value="0">
        
          <div>
              
              <label class="control-label">Sub Categoria</label>
              <input type="text" class="form-control" id="Descripcion" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()" />
          </div>
          <div>
             <label class="control-label">Categoria:</label>
              @Html.DropDownList("CategoriaID", null, htmlAttributes: new { @class = "form-control" })
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" onclick="GuardarSubCategoria()" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>


  <div>
      <h1 class="display-4 SubCategorias animate__animated animate__fadeInUpBig">Sub Categorías</h1>

        <!-- Button trigger modal -->
        <div class="mb-2">
          <button type="button" onclick="VaciarFormulario()" class="Botones" data-bs-toggle="modal" data-bs-target="#ModalSubCategoria">
              Sub categoria nueva
          </button>
        </div>


    <table class="table table-bordered table-striped table-condensed table-info table-hover">
      <thead>
          <tr class="table-dark">
              <th>SubCategoria</th><th>Categoria</th> <th></th>
          </tr>
          
      </thead>
          <tbody id="tbody-subcategorias">        
          </tbody>
    </table>
  </div>
</body>

 @section Scripts {
  <script src ="~/js/SubCategoria1.js"></script>
 }